body {
  text-align: center; 
}

.logo {    
  width: 50%; 
  height: auto;  /* Ajustar logo a pantaña mas pequeña */
}
    
.candado{
  width:50px;
  height:29px;
} 

#resultC {
  border : 1px groove;
  font-size: 20px;
  display: inline-block;
  padding : 1em;
  width: 25%;
  height: 50%;
}


