
.contenedor {
  text-align: center; 
}

.logo {    
  width: 50%; 
  height: auto;  /* Ajustar logo a pantalla mas pequeña */
}

#info{
  width:20px;
  height:20px;
}

.candado{
  width:40px;
  height:20px;
} 

#resultC {
  border : 1px groove;
  font-size: 20px;
  display: inline-block;
  padding : 1em;
  width: 30%;
  height: auto;
}

