body {
    text-align: center; 
    }
.candado{
    width:50px;
    height:29px;
   } 

button {
  
}

#resultC {
  border : 1px groove;
  font-size: 12px;
  display: inline-block;
  padding : 1em;
  width: 25%;
  height: 50%;
}
