
/*
              * --> selecor universal
              . --> class
              # --> id
*/


.contenedor {
  text-align: center; 
}

.logo {    
  width: 60%; 
  height: auto;  /* Ajustar logo a pantalla mas pequeña */
}

#info{
  width:20px;
  height:20px;
}

.candado{
  width:40px;
  height:20px;
} 

.code {
  
  border-radius:20px; 
  border: none;
  color: rgb(73, 73, 73);
  padding: 9px 50px;
  text-align: center;
  font-size: 16px;
  margin: 3px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.2s;
  cursor: pointer;
  height: auto;
}
.code:hover {
  background-color: #f7f2f2;}

.deci {
  border-radius:20px; 
  border: rgb(0, 0, 0);
  color: rgb(73, 73, 73);
  padding: 9px 32px;
  text-align: center;
  font-size: 16px;
  margin: 3px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.2s;
  cursor: pointer;
  height: auto;
}
.deci:hover {
  background-color: #f7f2f2;}


#resultC {
   
  border : 2px groove;
  font-size: 15px;
  display: inline-block;
  padding : 1em;
  width: auto;
  height: auto;
  
}

